In [1]:
import pandas as pd

## Utworzenie Dataframe z 1mln wierszy

In [2]:
file_name = "https://www.dropbox.com/s/g0pzhynfphlw6lp/sales-records.zip?dl=1"
df = pd.read_csv(file_name, compression="zip")

In [3]:
df.shape

(1000000, 14)

In [4]:
df.sample(frac=0.001)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
488686,Sub-Saharan Africa,Cameroon,Meat,Offline,M,2/7/2017,109541690,3/23/2017,4675,421.89,364.69,1972335.75,1704925.75,267410.00
327207,Europe,Georgia,Snacks,Offline,M,9/8/2010,814249837,9/23/2010,3476,152.58,97.44,530368.08,338701.44,191666.64
696938,Middle East and North Africa,Yemen,Snacks,Online,H,8/23/2012,847381770,9/5/2012,7951,152.58,97.44,1213163.58,774745.44,438418.14
359194,Central America and the Caribbean,Trinidad and Tobago,Cosmetics,Online,C,8/13/2014,361696803,8/20/2014,2977,437.20,263.33,1301544.40,783933.41,517610.99
902856,Central America and the Caribbean,Saint Lucia,Vegetables,Online,C,1/10/2012,908561027,2/8/2012,2253,154.06,90.93,347097.18,204865.29,142231.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427697,Australia and Oceania,Palau,Baby Food,Online,C,5/25/2010,376696145,6/22/2010,1615,255.28,159.42,412277.20,257463.30,154813.90
980562,Asia,Philippines,Baby Food,Online,L,11/11/2016,865718638,11/17/2016,4238,255.28,159.42,1081876.64,675621.96,406254.68
772517,Middle East and North Africa,Oman,Fruits,Online,L,4/18/2013,835480058,4/21/2013,5970,9.33,6.92,55700.10,41312.40,14387.70
79577,Sub-Saharan Africa,Mauritius,Cereal,Online,M,6/15/2014,987168633,7/19/2014,3991,205.70,117.11,820948.70,467386.01,353562.69
868262,Middle East and North Africa,Israel,Vegetables,Offline,H,9/18/2013,934913623,10/8/2013,572,154.06,90.93,88122.32,52011.96,36110.36

In [5]:
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

## Zajętość pamięci przez Dataframe

In [6]:
df.memory_usage(deep=True)

Index                  128
Region            72845056
Country           65904370
Item Type         65583558
Sales Channel     63500249
Order Priority    66000000
Order Date        65936701
Order ID           8000000
Ship Date         65936993
Units Sold         8000000
Unit Price         8000000
Unit Cost          8000000
Total Revenue      8000000
Total Cost         8000000
Total Profit       8000000
dtype: int64

In [7]:
size_start = df.memory_usage(deep=True).sum()

In [8]:
df["Region"].unique()

array(['Sub-Saharan Africa', 'Middle East and North Africa',
       'Australia and Oceania', 'Europe', 'Asia',
       'Central America and the Caribbean', 'North America'], dtype=object)

In [9]:
df["Country"].unique()

array(['South Africa', 'Morocco', 'Papua New Guinea', 'Djibouti',
       'Slovakia', 'Sri Lanka', 'Seychelles ', 'Tanzania', 'Ghana',
       'Taiwan', 'Algeria', 'Singapore', 'Vietnam', 'Uganda', 'Zimbabwe',
       'Ethiopia', 'France', 'The Bahamas', 'Haiti', 'Nicaragua',
       'Turkmenistan', 'United Kingdom', 'Dominican Republic', 'China',
       'Kuwait', 'United Arab Emirates', 'Estonia', 'Malaysia', 'Vanuatu',
       'India', 'Samoa ', 'Kazakhstan', 'Czech Republic', 'Belgium',
       'Finland', 'Oman', 'Dominica', 'Serbia', 'Sao Tome and Principe',
       'Brunei', 'Israel', 'Solomon Islands', 'Togo', 'Mauritius ',
       'Canada', 'Lebanon', 'South Korea', 'Indonesia',
       'Antigua and Barbuda ', 'Tunisia ', 'Thailand', 'Nepal',
       'Montenegro', 'Greece', 'Monaco', 'Albania', 'Saint Lucia',
       'Italy', 'Switzerland', 'Netherlands', 'Sweden', 'Burundi',
       'Iceland', 'Rwanda', 'Japan', 'Romania', 'Belize', 'Egypt',
       'Tonga', 'East Timor', 'The Gambia', 'Mali', 'Moldova ',
       'Pakistan', 'Madagascar', 'United States of America',
       'Democratic Republic of the Congo', 'New Zealand', 'Liberia',
       'Malawi', 'Equatorial Guinea', 'El Salvador', 'Greenland',
       'Myanmar', 'Costa Rica', 'Armenia', 'Somalia', 'Kenya', 'Zambia',
       'Marshall Islands', 'Syria', 'Niger', 'Mongolia', 'Sierra Leone',
       'Cape Verde', 'Denmark', 'Saint Kitts and Nevis ', 'Saudi Arabia',
       'Bulgaria', 'Sudan', 'Yemen', 'Cambodia', 'Trinidad and Tobago',
       'Central African Republic', 'Latvia', 'Grenada', 'Portugal',
       'Bahrain', 'Cameroon', 'Bhutan', 'Georgia', 'Kiribati', 'Croatia',
       'Turkey', 'Iraq', 'Comoros', 'Uzbekistan', 'Tuvalu', 'Gabon',
       'Hungary', 'Jordan', 'Andorra', 'Luxembourg', 'Guinea-Bissau',
       'Bangladesh', 'Laos', 'Nigeria', 'Germany', 'Jamaica', 'Botswana',
       'Vatican City', 'Panama', 'Namibia', 'Ireland',
       'Federated States of Micronesia', 'Poland', 'Kosovo', 'Palau',
       'Angola', 'Benin', 'Mexico', 'Malta', 'Iran', 'Mauritania',
       'Saint Vincent and the Grenadines', 'Guatemala', 'Lesotho',
       'Mozambique', 'North Korea', 'Kyrgyzstan', 'Belarus',
       'Liechtenstein', 'Burkina Faso', 'Australia', 'Macedonia',
       'Bosnia and Herzegovina', 'Barbados', 'Senegal', 'Tajikistan',
       'South Sudan', 'Cuba', 'Russia', 'Swaziland', 'Azerbaijan',
       "Cote d'Ivoire", 'Austria', 'Chad', 'Libya', 'Norway',
       'Afghanistan', 'Lithuania', 'Eritrea', 'Cyprus', 'Maldives',
       'Slovenia', 'Guinea', 'Philippines', 'Qatar', 'Ukraine', 'Nauru',
       'Honduras', 'Republic of the Congo', 'Spain', 'San Marino', 'Fiji'],
      dtype=object)

In [10]:
df["Item Type"].unique()

array(['Fruits', 'Clothes', 'Meat', 'Beverages', 'Office Supplies',
       'Cosmetics', 'Snacks', 'Personal Care', 'Household', 'Vegetables',
       'Baby Food', 'Cereal'], dtype=object)

## Użycie typu kategorycznego

In [11]:
df["Region"] = df["Region"].astype("category")
df["Country"] = df["Country"].astype("category")
df["Item Type"] = df["Item Type"].astype("category")
df["Sales Channel"] = df["Sales Channel"].astype("category")
df["Order Priority"] = df["Order Priority"].astype("category")

In [12]:
df.memory_usage(deep=True).sum()

193893714

In [13]:
df.dtypes

Region            category
Country           category
Item Type         category
Sales Channel     category
Order Priority    category
Order Date          object
Order ID             int64
Ship Date           object
Units Sold           int64
Unit Price         float64
Unit Cost          float64
Total Revenue      float64
Total Cost         float64
Total Profit       float64
dtype: object

## Typy w NumPy

<img src='https://miro.medium.com/max/1330/1*s6gKy2DZ_300dgAeHPgjkQ.png'>

## Pobranie informacji o zakresach wartości dla typów numerycznych

In [14]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06,1.000000e+06
mean,5.493520e+08,4998.867302,266.025488,187.522978,1.329563e+06,9.372671e+05,3.922956e+05
std,2.599397e+08,2885.334142,216.987966,175.650798,1.468527e+06,1.148954e+06,3.788199e+05
min,1.000012e+08,1.000000,9.330000,6.920000,9.330000e+00,6.920000e+00,2.410000e+00
25%,3.239629e+08,2502.000000,81.730000,35.840000,2.778672e+05,1.617289e+05,9.510480e+04
50%,5.486524e+08,4998.000000,154.060000,97.440000,7.844445e+05,4.667818e+05,2.810549e+05
75%,7.745981e+08,7496.000000,421.890000,263.330000,1.822444e+06,1.196327e+06,5.653076e+05
max,9.999999e+08,10000.000000,668.270000,524.960000,6.682700e+06,5.249600e+06,1.738700e+06

## Dostosowanie typów numerycznych do zakresów

In [15]:
df["Units Sold"] = df["Units Sold"].astype("uint16")
df["Unit Price"] = df["Unit Price"].astype("float32")
df["Unit Cost"] = df["Unit Cost"].astype("float32")

In [16]:
df.memory_usage(deep=True).sum()

179893714

## Konwersja object do datetime64ns

In [17]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format="%m/%d/%Y", errors="coerce")
df["Ship Date"] = pd.to_datetime(df["Ship Date"], format="%m/%d/%Y", errors="coerce")

In [18]:
df.memory_usage(deep=True).sum()

64020020

In [19]:
df.dtypes

Region                  category
Country                 category
Item Type               category
Sales Channel           category
Order Priority          category
Order Date        datetime64[ns]
Order ID                   int64
Ship Date         datetime64[ns]
Units Sold                uint16
Unit Price               float32
Unit Cost                float32
Total Revenue            float64
Total Cost               float64
Total Profit             float64
dtype: object

In [20]:
size_end = df.memory_usage(deep=True).sum()

## Procentowa wielkość dataframe w stosunku do początkowego

In [21]:
size_end/size_start * 100

12.271258244725097